{% extends 'layout.html' %}
{% from 'lib.j2' import bootswatch_spacelab_css, jquery_js, leaflet_js, leaflet_css %}
{% from 'page.j2' import nav_logo, nav_title, nav_menu, footer %}

{% block web_title %}
    MIMS Catalogue
{% endblock %}

{% block favicon %}
    <link rel="icon" href="{{ url_for('static', filename='images/mims-icon-32x32.png') }}" sizes="32x32"/>
    <link rel="icon" href="{{ url_for('static', filename='images/mims-icon-192x192.png') }}" sizes="192x192"/>
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg bg-white shadow-sm px-2 py-3 sticky-top">
        <div class="container-fluid">
            <img src="{{ url_for('static', filename='images/mims-logo.png') }}" height="70">
            <div class="d-flex flex-column mims-logo-color fs-5 mx-4 mt-2">
                <span class="fw-semibold">Marine Information Management System</span>
                <span class="">South Africa's oceans and coastal data archive</span>
            </div>
            <div class="navbar-nav justify-content-end flex-grow-1 mt-2">
                <div class="badge rounded-pill fs-6 fw-light mx-2">
                    <a href="https://data.ocean.gov.za/" class="text-decoration-none">
                        Home
                    </a>
                </div>
                <div class="badge rounded-pill fs-6 fw-light mims-bg-color-mid mx-2">
                    <a href="{{ url_for('catalog.index') }}" class="text-decoration-none text-reset">
                        Catalogue
                    </a>
                </div>
                <div class="badge rounded-pill fs-6 fw-light mx-2">
                    <a href="/mims/archive/" class="text-decoration-none">
                        Archive
                    </a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block footer %}
    <footer class="text-white">
        <div class="mims-bg-color-light" style="height: 124px">
            <div class="d-flex justify-content-center align-items-center">
                <div class="ps-2 pt-4 flex-grow-evenly">
                    <p class="text-center" style="max-width: 550px">
                        MIMS is a component of the National<br>
                        <a href="https://ocims.environment.gov.za/" target="_blank" class="text-decoration-none">
                            Oceans and Coasts Information Management System
                        </a><br>
                        (OCIMS).
                    </p>
                </div>
                <div class="pt-3">
                    <a href="https://ocims.environment.gov.za/" target="_blank">
                        <img src="{{ url_for('static', filename='images/ocims-logo.png') }}" style="height: 100px">
                    </a>
                </div>
                <div class="pe-3 pt-4 flex-grow-evenly">
                    <p class="text-end">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear())</script>
                        <a href="https://www.dffe.gov.za/" target="_blank" class="text-decoration-none">
                            Department of Forestry, Fisheries and the Environment
                        </a>
                        <br>Photo by
                        <a class="text-decoration-none" target="_blank"
                           href="https://unsplash.com/@redcharlie?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                            redcharlie
                        </a> on
                        <a class="text-decoration-none" target="_blank"
                           href="https://unsplash.com/photos/ocean-waves-crashing-on-shore-during-daytime-ncJKXaCp-3A?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                            Unsplash
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block styles %}
    {{ super() }}
    {{ bootswatch_spacelab_css() }}
    {{ leaflet_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mims.css') }}">
    <style>
        :root {
            --bs-link-color: #3E8A93;
            --home-background-url: url( {{ url_for('static', filename='images/redcharlie-ncJKXaCp-3A-unsplash.jpg') }} );
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ jquery_js() }}
    {{ leaflet_js() }}
    <script src="{{ url_for('static', filename='scripts/catalog.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controls.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/leaflet-providers.js') }}"></script>
{% endblock %}
